/*Asterisk wild card selector is used to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*header*/
header {
    background-color: light-coral;
}

/*main content*/
main {
    background-color: light-blue;
}

/*footer*/
footer {
    background-color: orange;
}